name: Deploy Dev

on:
  pull_request:
    branches: [ main ]   # Only PR to main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy_dev:
    runs-on: self-hosted
    needs: [ build, cucumber]   # ✅ Only cucumber is mandatory ❌ newman is optional
    if: github.ref == 'refs/heads/main'  # Only main branch
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to DEV
        run: bash ./scripts/deploy-dev.sh
