name: Deploy Dev

on:
  pull_request:
    branches: [ main ]   # Only PR to main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build & Verify
        run: mvn -B verify

  cucumber:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Run Cucumber Tests
        run: mvn -B test -Dcucumber.options="--plugin json:target/cucumber.json"

  newman:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true   # ✅ Optional
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build Application
        run: mvn -B clean package -DskipTests
      - name: Start Application
        run: |
          java -jar target/demo-pipeline-0.0.1-SNAPSHOT.jar &
          sleep 10
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install Newman
        run: npm install -g newman
      - name: Run Newman Tests
        run: newman run postman/api-tests.json

  deploy_dev:
    runs-on: self-hosted
    needs: [ build, cucumber]   # ✅ Only cucumber is mandatory ❌ newman is optional
    if: github.ref == 'refs/heads/main'  # Only main branch
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to DEV
        run: bash ./scripts/deploy-dev.sh
