name: Deploy Dev

on:
  pull_request:
    branches: [ main ]   # uniquement PR vers main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build & Verify
        run: mvn -B verify

  cucumber:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Run Cucumber Tests
        run: mvn -B test -Dcucumber.options="--plugin json:target/cucumber.json"

  newman:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true   # ✅ Newman optionnel pour le pipeline
    steps:
      - uses: actions/checkout@v4
      - name: Run Newman Tests
        run: newman run tests/postman_collection.json

  deploy_dev:
    runs-on: self-hosted
    needs: [ build, cucumber ]   # ✅ dépend seulement des tests obligatoires ❌ ne dépend pas de newman
    if: github.ref == 'refs/heads/main'  # seulement branch main
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to DEV
        run: bash ./scripts/deploy-dev.sh
