name: Maintenance

on:
  schedule:
    - cron: "15 11 * * 1-5"  # execution between 11:15 and 11:30 AM, Monday to Friday
  workflow_dispatch:         # Possibility to trigger manually

jobs:
  maintenance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cleanup
        run: ./scripts/cleanup.sh